html,
body {
    margin: 0;

    scroll-behavior: smooth;
    overflow-x: hidden;
}

header,
section,
footer {
    width: calc(100vw - ((100vw - 1440px) / 2));
    padding-left: calc((100vw - 1440px) / 2);
}

header {
    height: calc(200px - 76px);
    padding-top: 76px;

    background-color: #030303;
}

.bg {
    position: absolute;
    top: 0px;
    left: -20px;
    background-color: #030303;
    width: 768px;
    height: 110px;
}
.frame-icon {
    position: absolute;
    top: 8px;
    left: 0px;
    width: 49px;
    height: 26px;
    overflow: hidden;
}
.louvre {
    position: absolute;
    top: 0px;
    left: 74px;
    letter-spacing: 5px;
    line-height: 50px;
    text-transform: uppercase;
    display: inline-block;
    width: 125px;
    height: 41px;
}
.logo {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 199px;
    height: 41px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 32px;
    height: 2px;
}
.group-item {
    position: absolute;
    top: 8px;
    left: 0px;
    background-color: #fff;
    width: 32px;
    height: 2px;
}
.group-inner {
    position: absolute;
    top: 16px;
    left: 0px;
    background-color: #fff;
    width: 32px;
    height: 2px;
}
.rectangle-parent {
    position: absolute;
    top: 46px;
    left: 696px;
    width: 32px;
    height: 18px;
}
.header {
    width: 100%;
    position: relative;
    height: 110px;
    text-align: left;
    font-size: 28px;
    color: #fff;
    font-family: Forum;
}


.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #030303;
    width: 768px;
    height: 861px;
}
.icon {
    width: 30%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 285px;
    object-fit: cover;
}
.button {
    position: absolute;
    top: 350px;
    left: 20px;
    width: 300px;
    height: 60px;
}
.from-the-castle {
    position: absolute;
    top: 145px;
    left: 218px;
    letter-spacing: 2px;
    font-weight: 300;
    display: inline-block;
    width: 332px;
    height: 20px;
}
.welcome {
    margin: 0;
}
.welcome-to-the-container {
    position: absolute;
    top: 0px;
    left: 219px;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: Forum;
    text-align: center;
    display: inline-block;
    width: 328px;
}
.div {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    text-transform: uppercase;
}
.div1 {
    position: absolute;
    top: 0px;
    left: 33px;
    line-height: 40px;
    text-transform: uppercase;
}
.div2 {
    position: absolute;
    top: 0px;
    left: 48px;
    line-height: 40px;
    text-transform: uppercase;
}
.welcome-slide-num {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 71px;
    height: 40px;
}
.icon1 {
    position: absolute;
    top: 14px;
    left: 116px;
    width: 12px;
    height: 12px;
}
.icon2 {
    position: absolute;
    top: 14px;
    left: 153px;
    width: 12px;
    height: 12px;
}
.icon3 {
    position: absolute;
    top: 14px;
    left: 190px;
    width: 12px;
    height: 12px;
}
.icon4 {
    position: absolute;
    top: 14px;
    left: 227px;
    width: 12px;
    height: 12px;
}
.icon5 {
    position: absolute;
    top: 14px;
    left: 264px;
    width: 12px;
    height: 12px;
}
.carousel-pagination {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 276px;
    height: 40px;
}
.arrows-icon {
    position: absolute;
    top: 15px;
    left: 321px;
    width: 80px;
    height: 8px;
}
.carousel-pagination-parent {
    position: absolute;
    top: 791px;
    left: 184px;
    width: 401px;
    height: 40px;
}
.welcome-to-the-louvre {
    width: 100%;
    position: relative;
    height: 861px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Roboto;
}
global.css



.google-street-panorama {
    position: absolute;
    top: 276px;
    left: 0px;
    font-weight: 100;
    display: inline-block;
    width: 240px;
}
.virtual-tour {
    position: absolute;
    top: 247px;
    left: 0px;
    font-weight: 100;
    display: inline-block;
    width: 165px;
}
.rectangle {
    position: absolute;
    top: 235px;
    left: 0px;
    background-color: #710707;
    width: 150px;
    height: 2px;
}
.mona-lisa1 {
    position: absolute;
    top: 205px;
    left: 0px;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Forum;
    display: inline-block;
    width: 197px;
}
.rectangle-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 180px;
    object-fit: cover;
}
.mona-lisa {
    position: absolute;
    top: 1443px;
    left: 50px;
    width: 280px;
    height: 295px;
}
.google-street-panorama1 {
    position: absolute;
    top: 276px;
    left: 0px;
    font-weight: 100;
    display: inline-block;
    width: 209px;
}
.virtual-tour1 {
    position: absolute;
    top: 247px;
    left: 0px;
    font-weight: 100;
    display: inline-block;
    width: 133px;
}
.colonnade-perrault1 {
    position: absolute;
    top: 205px;
    left: 0px;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Forum;
    display: inline-block;
    width: 280px;
}
.colonnade-perrault {
    position: absolute;
    top: 773px;
    left: 50px;
    width: 280px;
    height: 295px;
}
.denon-wing1 {
    position: absolute;
    top: 205px;
    left: 0px;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Forum;
    display: inline-block;
    width: 233px;
}
.denon-wing {
    position: absolute;
    top: 438px;
    left: 50px;
    width: 280px;
    height: 295px;
}
.royal-palace1 {
    position: absolute;
    top: 205px;
    left: 0px;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Forum;
    display: inline-block;
    width: 190px;
}
.royal-palace {
    position: absolute;
    top: 103px;
    left: 50px;
    width: 280px;
    height: 295px;
}
.rectangle4 {
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #710707;
    width: 380px;
    height: 3px;
}
.virtual-tour4 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 28px;
    letter-spacing: 5px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Forum;
    color: #9d8665;
    display: inline-block;
    width: 227px;
    height: 40px;
}
.night-palace1 {
    position: absolute;
    top: 205px;
    left: 0px;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Forum;
    display: inline-block;
    width: 250px;
}
.night-palace {
    position: absolute;
    top: 1778px;
    left: 50px;
    width: 280px;
    height: 295px;
}
.greek-hall1 {
    position: absolute;
    top: 205px;
    left: 0px;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Forum;
    display: inline-block;
    width: 214px;
}
.greek-hall {
    position: absolute;
    top: 1108px;
    left: 50px;
    width: 280px;
    height: 295px;
}
.virtyal-tour {
    width: 100%;
    position: relative;
    height: 2073px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}
global.css




.visiting-grid-block-link-1:hover {
    color: #9d8665;
}

.visiting-grid-block-link-2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    transition-duration: 0.5s;
}

.visiting-grid-block-link-2:hover {
    color: #9d8665;
}

.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #030303;
    width: 420px;
    height: 551px;
}
.rectangle {
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #710707;
    width: 380px;
    height: 3px;
}
.picture-explore1 {
    position: absolute;
    top: 40px;
    left: 20px;
    letter-spacing: 5px;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
    width: 367px;
    height: 40px;
}
.rectangle-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 368px;
    object-fit: cover;
}
.rectangle-icon1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 230px;
    height: 368px;
    object-fit: cover;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 368px;
}
.explore-slider-icon {
    position: absolute;
    top: 0px;
    left: 220px;
    width: 20px;
    height: 368px;
}
.group-parent {
    position: absolute;
    top: 143px;
    left: 20px;
    width: 380px;
    height: 368px;
}
.picture-explore {
    width: 100%;
    position: relative;
    height: 551px;
    text-align: left;
    font-size: 28px;
    color: #fff;
    font-family: Forum;
}

.explore-image::-webkit-slider-thumb {
    appearance: none;
}
.las-meninas-is {
    width: 984px;
    position: relative;
    font-size: 20px;
    line-height: 38.5px;
    font-weight: 300;
    font-family: Roboto;
    color: #fff;
    text-align: left;
    display: inline-block;
}
.yellow-veil {
    color: #caaa7d;
}
.it-was-cleaned-container {
    width: 984px;
    position: relative;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    font-family: Roboto;
    text-align: left;
    display: inline-block;
    color: #fff;
}
global.css



.video-section {
    height: 919px;
    padding-top: 90px;
}

.video-section-video {
    position: relative;

    margin-bottom: 40px;
}

.video-controls {
    align-items: center;

    display: inline-flex;
    width: 1440px;
    height: 85px;
    margin-top: -4px;
    background-color: #000000;
}

.video-controls-button {
    margin-top: 3px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.video-controls-big-play-button {
    position: absolute;
    left: 610px;
    top: 202px;
    width: 220px;
    height: 220px;
}

.video-controls-big-play-button svg {
    width: 220px;
    height: 220px;
    fill: #ffffff;
}

.video-controls-button-1 {
    margin-left: 41px;
}

.video-controls-button-1,
.video-controls-button-2,
.video-controls-button-3 {
    margin-right: 41px;
}

.video-controls-button-svg {
    fill: #b3b3b3;

    transition-duration: 0.5s;
}

.video-controls-button:hover .video-controls-button-svg {
    fill: #989898;
}

.video-controls-range-1 {
    width: 820px;
    margin-right: 39px;
}

.video-controls-button-4 {
    margin-right: 20px;
}

.video-controls-range-2 {
    width: 155px;
    margin-right: 45px;
}

.video-section-text {
    display: flex;
}

.video-section-heading {
    margin: 0 115px 0 0;

    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
}

.video-section-paragraph {
    align-items: center;

    display: flex;
    width: 720px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    color: #000000;
}


.rectangle {
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #710707;
    width: 380px;
    height: 3px;
}
.buy-tickets1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 28px;
    letter-spacing: 5px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Forum;
    text-align: left;
    display: inline-block;
    width: 214px;
    height: 40px;
}
.total-220 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.group {
    position: absolute;
    top: 267px;
    left: 47px;
    width: 81px;
    height: 19px;
}
.rectangle1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px solid #000;
    box-sizing: border-box;
    width: 175px;
    height: 50px;
}
.div {
    position: absolute;
    top: 6px;
    left: 15px;
    display: inline-block;
    width: 18px;
}
.div1 {
    position: absolute;
    top: 6px;
    left: 141px;
    display: inline-block;
    width: 19px;
}
.div2 {
    position: absolute;
    top: 12px;
    left: 82px;
    font-size: 22px;
    font-weight: 300;
    display: inline-block;
    width: 12px;
}
.group1 {
    position: absolute;
    top: 34px;
    left: 0px;
    width: 175px;
    height: 50px;
}
.senior-65 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}
.group-parent {
    position: absolute;
    top: 143px;
    left: 0px;
    width: 175px;
    height: 84px;
    font-size: 32px;
}
.div3 {
    position: absolute;
    top: 6px;
    left: 15px;
    display: inline-block;
    width: 21px;
}
.div4 {
    position: absolute;
    top: 6px;
    left: 138px;
    display: inline-block;
    width: 22px;
}
.div5 {
    position: absolute;
    top: 12px;
    left: 81px;
    font-size: 22px;
    font-weight: 300;
    display: inline-block;
    width: 13px;
}
.group-group {
    position: absolute;
    top: 39px;
    left: 0px;
    width: 175px;
    height: 84px;
    font-size: 32px;
}
.amount1 {
    position: absolute;
    top: 0px;
    left: 59px;
}
.amount {
    position: absolute;
    top: 303px;
    left: 102px;
    width: 175px;
    height: 286px;
    color: #000;
}
.rectangle3 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    background-color: #000;
    width: 175px;
    height: 50px;
}
.buy-now {
    position: absolute;
    top: 16px;
    left: 48px;
    letter-spacing: 2px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 18px;
}
.button {
    position: absolute;
    top: 629px;
    left: 102px;
    width: 175px;
    height: 50px;
    color: #fff;
}
.rectangle-icon {
    position: absolute;
    top: 103px;
    left: 0px;
    width: 380px;
    height: 160px;
    object-fit: cover;
}
.buy-tickets {
    width: 100%;
    position: relative;
    height: 679px;
    text-align: center;
    font-size: 16px;
    color: #9d8665;
    font-family: Roboto;
}


.rectangle-icon {
    position: absolute;
    top: 308px;
    left: 0px;
    width: 380px;
    height: 248px;
    object-fit: cover;
}
.mail-infolouvrefr {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 300;
    display: inline-block;
    width: 154px;
}
.mail {
    position: absolute;
    top: 249px;
    left: 0px;
    width: 154px;
    height: 19px;
}
.phone-330-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 300;
    display: flex;
    align-items: flex-end;
    width: 213px;
}
.phone {
    position: absolute;
    top: 215px;
    left: 0px;
    width: 213px;
    height: 19px;
}
.address-75001-paris {
    position: absolute;
    top: 181px;
    left: 0px;
    font-weight: 300;
    display: inline-block;
    width: 208px;
}
.palais-royal-musee {
    position: absolute;
    top: 103px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 124px;
}
.rectangle {
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #710707;
    width: 380px;
    height: 3px;
}
.contacts1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 28px;
    letter-spacing: 5px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Forum;
    color: #9d8665;
    display: inline-block;
    width: 261px;
    height: 40px;
}
.contacts {
    width: 100%;
    position: relative;
    height: 556px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}


footer {
    display: flex;
    height: 223px;
    padding-top: 77px;

    background-color: #030303;
}

.footer-logo {
    margin-right: 145px;
}

.footer-logo-link {
    text-decoration: none;
}

.footer-logo-text {
    display: inline;
    margin-left: 17px;

    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;

    transition-duration: 0.5s;
}

.footer-logo-link:hover .footer-logo-text {
    color: #9d8665;
}

.footer-logo-svg {
    fill: #ffffff;

    transition-duration: 0.5s;
}

.footer-logo-link:hover .footer-logo-svg {
    fill: #9d8665;
}

.footer-nav {
    width: 363px;
    margin-right: 401px;
}

.footer-nav-wrapper {
    justify-content: space-between;

    display: inline-flex;
    width: 363px;
}

.footer-nav-first-column,
.footer-nav-second-column {
    flex-direction: column;

    display: inline-flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.footer-nav-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;

    transition-duration: 0.5s;
}

.footer-nav-link:hover {
    color: #9d8665;
}

.footer-social-icons {
    justify-content: space-between;

    display: inline-flex;
    width: 336px;
    margin-top: 85px;
    margin-bottom: 0;
    padding: 0;

    list-style-type: none;
}

.footer-social-icons-li {
    display: inline;
    height: auto;
}

.footer-social-icons-link {
    text-decoration: none;
}

.footer-social-icons-link svg {
    border-radius: 50%;
    border: 1px solid #ffffff;

    transition-duration: 0.5s;

    fill: #ffffff;
}

.footer-social-icons-link:hover svg {
    border-color: #a47e1b;
    fill: #a47e1b;
}

.div {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 100;
    display: inline-block;
    width: 82px;
    height: 22px;
}

.username {
    position: absolute;
    top: 0px;
    left: 1327px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 100;
    display: inline-block;
    width: 113px;
    height: 22px;
}

.the-rolling-scopes {
    position: absolute;
    top: 0px;
    left: 570px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 100;
    display: inline-block;
    width: 300px;
    height: 22px;
}

.last-string {
    width: 100%;
    position: absolute;
    height: 24px;
    text-align: left;
    font-size: 22px;
    color: #000000;
    font-family: Roboto;
}

.bg-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 420px;
    height: 757px;
}
.galery12-1-icon {
    position: absolute;
    top: 569px;
    left: 222px;
    width: 178px;
    height: 133px;
    object-fit: cover;
}
.galery10-2-icon {
    position: absolute;
    top: 367px;
    left: 222px;
    width: 178px;
    height: 178px;
    object-fit: cover;
}
.galery14-2-icon {
    position: absolute;
    top: 664px;
    left: 20px;
    width: 178px;
    height: 93px;
    object-fit: cover;
}
.galery5-2-icon {
    position: absolute;
    top: 417px;
    left: 20px;
    width: 178px;
    height: 223px;
    object-fit: cover;
}
.galery7-1-icon {
    position: absolute;
    top: 170px;
    left: 20px;
    width: 178px;
    height: 223px;
    object-fit: cover;
}
.art-gallery1 {
    position: absolute;
    top: 40px;
    left: 20px;
    letter-spacing: 5px;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
    width: 276px;
    height: 40px;
}
.galery9-2-icon {
    position: absolute;
    top: 120px;
    left: 222px;
    width: 178px;
    height: 223px;
    object-fit: cover;
}
.galery4-2-icon {
    position: absolute;
    top: 726px;
    left: 222px;
    width: 178px;
    height: 31px;
    object-fit: cover;
}
.art-gallery-child {
    position: absolute;
    top: 645px;
    left: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000);
    width: 420px;
    height: 112px;
}
.art-gallery {
    width: 100%;
    position: relative;
    height: 757px;
    text-align: left;
    font-size: 28px;
    color: #fff;
    font-family: Forum;
}

.welcome-slider-controls {
    position: absolute;
    bottom: 0px;
    right: calc((100vw - 1440px) / 2);
    align-items: center;
    display: flex;
    width: calc(600px - 74px);
    height: 120px;
    padding-left: 74px;
    background-color: #000000;
}

.welcome-slider-numbers {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 76px;
    height: 40px;
    margin-right: 55px;
}

.welcome-slider-paggination {
    justify-content: space-between;
    display: flex;
    width: 180px;
    height: 16px;
    margin-right: 60px;
}

.welcome-slider-arrows {
    justify-content: space-between;
    display: flex;
    width: 80px;
    height: 8px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

